/save*/*
/AA2IL.*
/AA2IL_6.*
/OLD/*
/state.pcl
/__pycache__
/capture_*.wav
/DIFFS
/#*#
/.#*
/CQP/*
/LOG1.TXT
/LOG2.TXT
/sats.adif
/dist/pyKeyer.exe
/dist/pykeyer_setup.exe
/capture_*.mp3
/New.adif
/JUNK
/CQP_2021/*
/build/*
/dist/pyKeyer
/pyKeyer.spec
/CQP_2022/*
/SS/*
/SS_2022/*
/cqww.adif
/keyer.log
/work/*
/cwt_2023_01_11_1900/*
/NAQP/*
/dist/pyKeyer_setup.exe
/dist_1.0/Book.txt
/dist_1.0/Panagrams.txt
/dist_1.0/QSO_Template.txt
/dist_1.0/Stumble.txt
/dist_1.0/cty.plist
/dist_1.0/keyer_splash.png
/dist_1.0/master.csv
/dist_1.0/pyKeyer
/dist_1.0/pyKeyer.exe
/dist_1.0/pyKeyer_setup.exe
/dist_1.0/pykeyer_setup.exe
/dist_1.0/state.json
/arrl_dx/*
/WPX/*
/June_VHF/*
/IARU/*
