/save*/*
/AA2IL.*
/AA2IL_6.*
/OLD/*
/state.pcl
/__pycache__
/capture_*.wav
/DIFFS
/#*#
/.#*
/CQP/*
/LOG1.TXT
/LOG2.TXT
/sats.adif
/dist/pyKeyer.exe
/dist/pykeyer_setup.exe
/capture_*.mp3
/New.adif
/JUNK
/CQP_2021/*
/build/*
/dist/pyKeyer
/pyKeyer.spec
/CQP_2022/*
/SS/*
/SS_2022/*
/cqww.adif
/keyer.log
/work/*
