###############################################################################
#
# Under uv:
#     rm -r .venv/ pyproject.toml .python-version uv.lock
#     uv init
#     uv add -r requirements.txt
#
# Since we often run the qrz script from another directory, embed the dependencies
# in the script itself:
#
#     uv add --script qrz.py -r requirements.txt
#
# This was how this all used to work:
#     pip3 install -r requirements.txt
#
# pip3 install -r requirements.txt
#
# Also need the "libs" directory which is available in this repository and to
# set the PYTHONPATH environment variable to point to where "libs" is installed,
# e.g. for csh/tcsh:
#
#     setenv PYTHONPATH $HOME/Python/libs
#
###############################################################################
#

pyserial
xlrd
unidecode
pyhamtools
pyautogui
pyaudio        # If this is a problem, try   sudo apt install portaudio19-dev
pyudev
psutil

openpyxl
pandas
scipy
levenshtein
chardet

pygame

# As of python 3.13, this is no longer available
# There is an older copy in the libs directory until I can find a replacement
#telnetlib

# Only available under linux, not winbloz
# Seems to have disappeared with Python 3.13!
#termios
