###############################################################################
#
# pip3 install -r requirements.txt
#
# Also need the "libs" directory which is available in this repository and to
# set the PYTHONPATH environment variable to point to where "libs" is installed,
# e.g. for csh/tcsh:
#
#     setenv PYTHONPATH $HOME/Python/libs
#
###############################################################################
#

pyserial
xlrd
unidecode
pyhamtools
pyautogui
pyaudio
pyudev
psutil

openpyxl
pandas
scipy
levenshtein
chardet

pygame

# As of python 3.13, this is no longer available
# There is an older copy in the libs directory until I can find a replacement
#telnetlib

# Only available under linux, not winbloz
# Seems to have disappeared with Python 3.13!
#termios
