# pip3 install -r requirements.txt
#
# Also need the "libs" directory which is available in this repository and to
# set the PYTHONPATH environment variable to point to where "libs" is installed,
# e.g. for csh/tcsh:
#
#     setenv PYTHONPATH $HOME/Python/libs

pyserial
xlrd
unidecode
pyhamtools
pyautogui
pyaudio
pyudev
termios

pandas
scipy
levenshtein

